node_modules

# Output
/.svelte-kit
/build

# Env
.env
.env.*
!.env.example
!.env.test

# Python and solargraph
.venv
/scripts/solargraph/data/*.csv

.DS_Store
.playwright-mcp

static/search-data.json

function.zip
emails*.txt
